@import "../abstracts/variables";

.app-slider {
  position: relative;
  width: 100%;

  .splide__btn {
    position: relative;
    width: 150px;
    height: 60px;
    background-color: #ebebeb;
    padding: 0 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 30px auto;
    button {
      display: flex;
      align-items: center;
    }
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 50px;
      background-color: #e1e1e1;
    }
  }

  @media (max-width: $m-mobile) {
    &__button-previous {
    }
    &__button-next {
    }
  }
}

.splide__slider {
  position: relative;
}
.app-slider__button-previous {
  img {
  }
}

.app-slider__button-next {
}
