@import "../abstracts/variables";

.input__block {
  position: relative;
  width: 100%;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &-label {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    &.error {
      .input__block-wrap {
        border-color: red;
        .input__block-error {
          display: block;
        }
      }
    }
  }
  &-title {
    display: inline-flex;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &-wrap {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 50px;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 20px;
    &.error {
      border-color: red;
    }
    &.focus-visible {
      border: 0.1rem solid black !important;
    }
  }
  &-prepend {
    display: flex;
    align-items: center;
    img {
    }
  }
  &-append {
    order: 3;
    display: flex;
    align-items: center;
    & + .input__block-input {
    }
    img {
    }
  }
  &-input {
    border-radius: 10px;
    flex: 1 1 auto;
    width: 1%;
    border: none;
    order: 2;
    height: 50px;
    font-size: 20px;
    line-height: 100%;
    outline: none !important;
    &::placeholder {
      font-size: 20px;
      line-height: 100%;
      color: #a4a4a4;
    }
  }
  &-error {
  }
}

.input__details {
  min-height: 25px;
  span {
    -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: red;
    font-size: 12px;
    padding-top: 0.2rem;
  }
}

.input__holder {
  //margin-bottom: 0.5rem;

  &:last-child {
    min-height: auto;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100rem);
    transform: translateX(100rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
