$m-desktop: 1260px;
$m-desktop-medium: 1140px;
$m-desktop-small: 991px;
$m-mobile: 776px;
$m-mobile-medium: 650px;
$m-mobile-small: 500px;

$font-main: "Euclid Square", sans-serif;

$color-main: #41894a;
$color-secondary: #acacac;
$color-text: #373737;
$color-gold: #ffa800;
$color-danger: #ff5454;
$text-color-default: #222222;
$border-color: #41894a;
$container: 1440px;
